<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloJob.mapper.job.JobOwnerMapper">

  <select id="getOwnerEmailByJobId" resultType="string" >
	  SELECT email FROM `user` t1
	LEFT JOIN (SELECT user_id FROM job_owner WHERE job_id=#{jobId}
	UNION ALL  SELECT creater FROM `job_basic_info` WHERE id=#{jobId}
	)t2 ON t1.`id`=t2.user_id
	WHERE   t1.email IS NOT NULL AND t2.user_id IS NOT NULL 
    </select>
   <!--  <insert id="insertBatch" parameterType="java.util.List">

     insert into userinfo (uid, uname, uphone, uaddress)

     values

    <foreach collection="list" item="item" index="index" separator="," >

    (#{item.uid,jdbcType=INTEGER},

     #{item.uname,jdbcType=VARCHAR},

     #{item.uphone,jdbcType=VARCHAR},

     #{item.uaddress,jdbcType=VARCHAR}

     )
   </foreach>

   </insert> -->
</mapper>