<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloJob.mapper.job.JobBasicInfoMapper">

  <select id="getJobInfoList" resultType="map" >
    SELECT t1.id,t1.name,t1.command,t1.`create_time`  AS createTime,t1.`sche_type`,t2.name AS jobType,t3.`name` FROM job_basic_info t1 
LEFT JOIN job_type t2 ON t1.`job_type`=t2.`id`
LEFT JOIN `user` t3 ON t1.`creater`=t3.`id`
    </select>
</mapper>